USE [master]
GO
/****** Object:  Database [Asp.NetMVC]    Script Date: 03-Dec-19 10:28:32 AM ******/
CREATE DATABASE [Asp.NetMVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Asp.NetMVC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Asp.NetMVC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Asp.NetMVC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Asp.NetMVC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Asp.NetMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Asp.NetMVC]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 03-Dec-19 10:28:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NULL,
	[Description] [nvarchar](20) NULL,
	[Category] [nvarchar](20) NULL,
	[Manufacturer] [nvarchar](20) NULL,
	[Supplier] [nvarchar](20) NULL,
	[Price] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Description], [Category], [Manufacturer], [Supplier], [Price]) VALUES (1, N'Product1', N'npr', N'npr', N'npr', N'npr', CAST(999.00 AS Decimal(18, 2)))
INSERT [dbo].[Product] ([Id], [Name], [Description], [Category], [Manufacturer], [Supplier], [Price]) VALUES (2, N'Product2', N'npr', N'npr', N'npr', N'npr', CAST(998.00 AS Decimal(18, 2)))
INSERT [dbo].[Product] ([Id], [Name], [Description], [Category], [Manufacturer], [Supplier], [Price]) VALUES (3, N'Product3', N'npr', N'npr', N'npr', N'npr', CAST(997.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Product] OFF
USE [master]
GO
